/**
 * Thème 404
 */

$font-family-sans-serif: 'Zilla Slab', sans-serif;
$h1-font-size: 3.5em;
$h3-font-size: 1.5em;

@import 'bootstrap/bootstrap';

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.page-content {
  background-color: #fafafa;
  flex: 1;
  padding: 1em 0;
}

:root {
  --primary: #004D80;
  --primary-light: #0076BA;
  --primary-lighter: #00A2FF;
  --primary-lightest: #56C1FF;

  --dark: #3D3D3E;
  --darker: #222;
}

.page-header,
.post-header {
  margin: 1em 0;
}

.page-heading,
.post-title {
  display: inline;
  padding: 0 .2em;
  background: var(--primary);

  line-height: 1.3;
  color: white;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

h3,
.h3 {
  padding: .2em .3em;
  margin-right: auto;
  background: var(--dark);

  font-weight: 100;
  color: white;
}

@import 'header.scss';
@import 'footer.scss';
@import 'home.scss';
