---
layout: base
---

<header class="home-header">
  <div class="container">
    <h1>
      <span>Notre but :</span><br>
      <span>le bien-être des élèves.</span>
    </h1>

    <p>
      Nous sommes <strong>404</strong>, l’association des élèves
      du <a href="https://edu.ge.ch/site/cfpt-informatique/"></a>CFPT informatique</a>.
    </p>
  </div>

  <div class="home-header-overlay" role="presentation"></div>
</header>

<main class="page-content" aria-label="Content">
  <div class="container">
    {{ content }}

    {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">
      {{ page.list_title | default: "Posts" }}
    </h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: "%m/%d/%Y" }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
        {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {%- endif -%}
    </div>
  </div>
</main>
